# {{ tag_name }}_handler_impl.py
"""Handler implementation for the '{{ tag_name }}' tag."""

from {{ tag_name }}_ABC import {{ tag_name|capitalize }}HandlerABC

class {{ tag_name|capitalize }}Handler({{ tag_name|capitalize }}HandlerABC):
    # TODO: Implement logic for each method defined in the ABC class.
    {% for endpoint in endpoints %}
    def {{ endpoint.operationId }}(self, event, context, cache):
        """{{ endpoint.summary }} ({{ endpoint.method }} {{ endpoint.path }})"""
        # TODO: Implement logic for {{ endpoint.operationId }}
    {% endfor %}
